<header class="site-header">
  <nav class="site-nav desktop" aria-label="Main navigation">
    <div class="site-logo" aria-label="Aaronline Design">
      <a href="{{ '/' | url }}">
      <svg width="126" height="89" viewBox="0 0 126 89" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="125.25" height="88.5" rx="15" fill="#0B2438"/>
      <circle cx="34.6359" cy="54.5869" r="7.63595" fill="#043E56"/>
      <circle cx="72.2199" cy="54.5869" r="7.63595" fill="#E0D5B9"/>
      <path d="M44.9932 26.2637C35.0558 26.2637 27 34.3195 27 44.2569H62.9864C62.9864 34.3195 54.9306 26.2637 44.9932 26.2637Z" fill="#2BA5B2"/>
      <path d="M98.9316 44.2569C98.9316 34.3195 90.8758 26.2637 80.9384 26.2637L80.9384 62.2501C90.8758 62.2501 98.9316 54.1943 98.9316 44.2569Z" fill="#3B4D73"/>
      <path d="M62.9737 44.2432C53.0363 44.2432 44.9805 52.299 44.9805 62.2364H62.9737V44.2432Z" fill="#89CDDA"/>
      <path d="M62.958 44.2432C72.8953 44.2432 80.9512 36.1873 80.9512 26.2499L62.958 26.2499L62.958 44.2432Z" fill="#F7AF02"/>
      </svg>
      <span class="logo-tooltip">Aaronline Design</span>
      </a>
    </div>
    {% for group in navigation.groups %}
    <ul class="nav-links-container nav-links-group-{{ group.name }}">
      {% for item in group.items %}
      <li class="nav-link-item{% if item.megaMenu %} has-submenu{% endif %}">
        <a href="{{ item.url | url }}">{{ item.title }}</a>
        {% if item.megaMenu %}
        <section class="submenu mega-menu {{ item.title | lower }}" aria-label="{{ item.title }} submenu">
          <div class="row">
            <div class="col">
              {% for column in item.megaMenu.columns %}
              <div class="item">
                <h4 class="heading">{{ column.heading }}</h4>
                <ul>
                  {% for link in column.links %}
                  <li><a href="{{ link.url | url }}">{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              {% endfor %}
            </div>
            <div class="col">
              {% if item.megaMenu.featured %}
              <a class="featured" href="{{ item.megaMenu.featured.url | url }}">
                <div class="featured-image">
                  <img class="media" src="{{ item.megaMenu.featured.image | url }}" alt="{{ item.megaMenu.featured.imageAlt | default(item.megaMenu.featured.title) }}" />
                  <p class="eyebrow">{{ item.megaMenu.featured.eyebrow }}</p>
                  <h4 class="heading">{{ item.megaMenu.featured.title }}</h4>
                  <p class="copy">{{ item.megaMenu.featured.text }}</p>
                  <span class="link-title">{{ item.megaMenu.featured.linkTitle }}</span>
                </div>
              </a>
              {% endif %}
            </div>
          </div>
        </section>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endfor %}

  </nav>
  <nav class="site-nav mobile" aria-label="Main navigation">
    <div class="site-logo" aria-label="Aaronline Design">
      <svg width="126" height="89" viewBox="0 0 126 89" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="125.25" height="88.5" rx="15" fill="#0B2438"/>
      <circle cx="34.6359" cy="54.5869" r="7.63595" fill="#043E56"/>
      <circle cx="72.2199" cy="54.5869" r="7.63595" fill="#E0D5B9"/>
      <path d="M44.9932 26.2637C35.0558 26.2637 27 34.3195 27 44.2569H62.9864C62.9864 34.3195 54.9306 26.2637 44.9932 26.2637Z" fill="#2BA5B2"/>
      <path d="M98.9316 44.2569C98.9316 34.3195 90.8758 26.2637 80.9384 26.2637L80.9384 62.2501C90.8758 62.2501 98.9316 54.1943 98.9316 44.2569Z" fill="#3B4D73"/>
      <path d="M62.9737 44.2432C53.0363 44.2432 44.9805 52.299 44.9805 62.2364H62.9737V44.2432Z" fill="#89CDDA"/>
      <path d="M62.958 44.2432C72.8953 44.2432 80.9512 36.1873 80.9512 26.2499L62.958 26.2499L62.958 44.2432Z" fill="#F7AF02"/>
      </svg>
      <span class="logo-tooltip">Aaronline Design</span>
      <span class="sr-only">Aaronline Design</span>
    </div>
    {% for group in navigation.groups %}
    <ul class="nav-links-container nav-links-group-{{ group.name }}">
      {% for item in group.items %}
      <li class="nav-link-item"><a href="{{ item.url | url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
    {% endfor %}
  </nav>
</header>
